#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.picture {
  width: 200px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(90%);
}

.text {
  color: darkgreen;
  font-weight: bold;
}

.dark {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  }

  .light button,
  .light {
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  .menu {
    display: flex;
  }
 
  .theme-buttons {
    float: left;
  }

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-body-tertiary {
  position: sticky;
  top: 0;
}

.carousel {
  width: 650px;
  margin: auto;  
  border-radius: 10px;
}

.picture-garden {
  width: 650px;
  border-radius: 10px;
}

